body {
    color: #000 !important;
}

.table {
    color: #000 !important;
}

body,
label {
    font-weight: 500 !important;
    color: #000 !important;
}

thead th {
    font-weight: 700 !important;
}