.ui.secondary.menu {
    background-color: #f5f5f5;
}

.font-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#header .ui.header {
    text-align: center;
}

#header .ui.main.text .logo {
    width: 220px;
}

#header .ui.main.text {
    text-align: center;
    padding-top: 20px;
}

#header .ui.main.menu .ui.right.floated .item {
    text-align: right;
}


/**
* PAGE CONTENT
**/

#my-page-content {
    padding-top: 40px;
}